template(name="monthlyPL")
  #page-wrapper
    .row
      .col-md-12
        h1.page-header Monthly Profit/Loss
          .pull-right
            #monthdropdown.btn-group
              button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                span#monthtext Month Of...
                span.caret
              ul.dropdown-menu.pull-right(role="menu")
                each months
                  li
                    a(href="#") {{name}}
            | {{currentYear}}
    .row
      .col-lg-4
        .panel.panel-info
          .panel-heading
            | Revenue
          .panel-body
            .h3 Received
            ul
              each revenue_received
                li {{name}}: ${{amount}}
            .h3 Outstanding
            ul
              each revenue_outstanding
                li {{name}}: ${{amount}}
          .panel-footer
            | Total: ${{total_revenue}}
      .col-lg-4
        .panel.panel-warning
          .panel-heading
            | Expenses
          .panel-body
            .h3 Payroll
            ul
              each payroll
                li {{name}}: ${{amount}}
            .h3 Other
            ul
              each other
                li {{name}}: ${{amount}}
          .panel-footer
            | Total: ${{total_expenses}}
      .col-lg-4
        .panel.panel-success
          .panel-heading
            | Totals
          .panel-body
            .h3 Revenue
            | ${{total_revenue}}
            .h3 Expenses
            | ${{total_expenses}}
          .panel-footer
            | Net: ${{net}}

template(name="annualPL")
  #page-wrapper
    .row
      .col-md-12
        h1.page-header Annual Profit/Loss

